{% extends "logAndRegister-base.html" %}
{% load static %}
{% block regOrLog %}
    <div class="form-box item">
        <div class="form-top">
            <div class="form-top-left">
                <p>A confirmation email has been sent to {{email}}.  Please click the link
                    in that email to confirm your email address and complete your registation for
                    your address book.</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-envelope"></i>
            </div>
        </div>
    </div>
{% endblock %}














A confirmation email has been sent to {{email}}.  Please click the link
in that email to confirm your email address and complete your registation for
your address book.
</p>
</body>
</html>

