{% extends "home-base.html" %}
{% load static %}
{% block content %}
    <div class="outterBackground">
        <div class="container">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-12">
                    <p class="blackFont" style="font-size: xx-large">
                        Please complete your reservation</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="thumbnail">
                        <a href="{% url 'follow' barbershop.name %}">
                            {% if barbershop.picture_url %}
                                <img src="{{ barbershop.picture_url }}" class="list-group-image"
                                     style="max-height: 250px;height: 250px;width: 400px; float: left"/>
                            {% else %}
                                <img src="{% static 'img/default-avatar.png' %}" class="list-group-image"
                                     style="max-height: 250px;height: 250px;width: 400px; float: left"/>
                            {% endif %}
{#                            <img class="list-group-image" style="float: left" src="http://placehold.it/400x250/000/fff"#}
{#                                 alt=""/>#}
                        </a>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="blackFont lead">
                                    Date:
                                    {{ date }}</p>
                                <p class="blackFont">
                                    Time:
                                    {{ time }}</p>
                                <p class="blackFont">
                                    Service type:
                                    {{ service_type }}</p>
                                <p class="blackFont">
                                    City:
                                    {{ city }}</p>
                                <a href="{% url 'follow' barbershop.name %}">
                                    <p class="blackFont">
                                        Barbershop:
                                        {{ barbershop.name }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-push-7">
                                <form role="form" method="post" id="reserveBarbershopForm"
                                      action="{% url 'reserveBarbershop' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="date" value="{{ date }}">
                                    <input type="hidden" name="time" value="{{ time }}">
                                    <input type="hidden" name="city" value="{{ city }}">
                                    <input type="hidden" name="service_type" value="{{ service_type }}">
                                    <input type="hidden" name="barbershop" value="{{ barbershop }}">

                                    <button type="submit" class="btn success" form="reserveBarbershopForm">
                                        Complete Reservation
                                    </button>

                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-sm-push-4">
                                <form role="form" method="post" id="searchBarbershop"
                                      action="{% url 'searchBarbershop' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="date" value="{{ date }}">
                                    <input type="hidden" name="time" value="{{ time }}">
                                    <input type="hidden" name="city" value="{{ city }}">
                                    <input type="hidden" name="service_type" value="{{ service_type }}">

                                    <button type="submit" class="btn2 btn-danger" form="searchBarbershop">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
